body {
  background-color: rgb(242, 247, 248);
}

a {
  color: rgb(22, 155, 182);
}

main {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  
}

main p {
  color: rgb(57, 95, 13);
  font-weight: 500;
}

footer {
  font-size: 14px;
  text-align: center;
  color: rgb(77, 104, 47);
}

.weather-app {
  background-color: #ffffff;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}



.city-input {
  border: none;
  background-color: rgb(242, 247, 248);
  font-size: 16px;
  padding: 18px;
  border-radius: 6px;
  width: 70%;
  color: rgb(57, 95, 13);
}

.search-city {
  border: none;
  background-color: rgb(153, 231, 247);
  font-size: 16px;
  padding: 18px;
  border-radius: 6px;
  width: 20%;
  color: white;
}

#city {
  margin: 0;
}

#wind, #humidity{
  color: rgb(238, 34, 153);
  font-weight: bold;
}

.temparature{
  display: flex;
}

#temparature-icon {
  height: 68px;
  line-height: 68px;
}

#temparature-value {
  font-weight: bold;
  font-size: 68px;
  line-height: 68px;
}

#temparature-unit {
  font-size: 22px;
}